[Unit]
BindsTo=sys-devices-virtual-input-input%i.device
After=sys-devices-virtual-input-input%i.device

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/bluetooth-handler add %I
ExecStop=/usr/lib/bluetooth-handler remove %I
